.a1:link {
	COLOR: #3D3D3D; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.a1:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: red;
}
.a2:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:hover {
	COLOR: red;
}

.a3:link {
	COLOR: #FF9400; TEXT-DECORATION: none
}
.a3:visited {
	COLOR: #FF9400; TEXT-DECORATION: none
}
.a3:active {
	COLOR: #FF9400; TEXT-DECORATION: none
}
.a3:hover {
	COLOR: #FFFFFF;
}


.a4:link {
	COLOR: #BFEAFD; TEXT-DECORATION: none
}
.a4:visited {
	COLOR: #BFEAFD; TEXT-DECORATION: none
}
.a4:active {
	COLOR: #BFEAFD; TEXT-DECORATION: none
}
.a4:hover {
	COLOR: #ff0000;
}

.a5:link {
	COLOR: #5F5F5F; TEXT-DECORATION: none
}
.a5:visited {
	COLOR: #5F5F5F; TEXT-DECORATION: none
}
.a5:active {
	COLOR: #5F5F5F; TEXT-DECORATION: none
}
.a5:hover {
	COLOR: #FF0000;
}

.a6:link {
	COLOR: #FF6633; TEXT-DECORATION: none
}
.a6:visited {
	COLOR: #FF6633; TEXT-DECORATION: none
}
.a6:active {
	COLOR: #FF6633; TEXT-DECORATION: none
}
.a6:hover {
	COLOR: #FFFFFF;
}


.a7:link {
	COLOR: #5F5F5F; TEXT-DECORATION: none
}
.a7:visited {
	COLOR: #5F5F5F; TEXT-DECORATION: underline
}
.a7:active {
	COLOR: #5F5F5F; TEXT-DECORATION: none
}
.a7:hover {
	COLOR: #FF0000;
}

.a8:link {
	COLOR: #B3FF02; TEXT-DECORATION: none
}
.a8:visited {
	COLOR: #B3FF02; TEXT-DECORATION: none
}
.a8:active {
	COLOR: #B3FF02; TEXT-DECORATION: none
}
.a8:hover {
	COLOR: #ff0000;
    
}




body {
	background-color: #E5F7F9;
}
TD,TH {
	FONT-SIZE:12px; COLOR: #5F5F5F;
}
.buttoncss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:006699;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}

.inputcss {  
    font-size: 9pt; 
    font-family: "ו"; 
    font-style: normal; 	
 }

.scrollbar{
   SCROLLBAR-FACE-COLOR: #0066CC; 
   FONT-SIZE: 9pt; 
   SCROLLBAR-HIGHLIGHT-COLOR: #0066CC; 
   SCROLLBAR-SHADOW-COLOR: #CFD9EC; 
   SCROLLBAR-3DLIGHT-COLOR: #CFD9EC; 
   SCROLLBAR-ARROW-COLOR: #CFD9EC; 
   SCROLLBAR-TRACK-COLOR: #CFD9EC;
   SCROLLBAR-DARKSHADOW-COLOR: #CFD9EC;

 }
.zhuce {font-size: 12px; color: #BFEAFD; }
.a9 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.a10 {
	font-size: 13px;
	font-weight: bold;
	color: #FE0000;
}
.a11:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.a11:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.a11:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.a11:hover {
	COLOR: #ff0000;
}
.a12 {
	font-weight: bold;
}
.a13 {color: #B3FF02}