/* CSS Document */
body,td,th {
	font-size: 12px;
}
.lk:link {
	text-decoration: none;
	color: #996633;
}
.lk:visited {
	text-decoration: none;
	color: #996633;
}
.lk:hover {
	text-decoration: none;
}
.lk:active {
	text-decoration: none;
	color: #CCCCFF;
}
.first {
	background-color: #996633;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #996633;
	color: #FFFFFF;
}
.left {
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-color: #996633;
	border-right-color: #996633;
	border-bottom-color: #996633;
}
.center {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #996633;
	border-bottom-color: #996633;
}
.right {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #996633;
	border-bottom-color: #996633;
}
.txt {
	margin: 0px;
	padding: 0px;
	height: 18px;
	width: 100px;
	border: 1px solid #996633;
}
.shorttxt {
	margin: 0px;
	padding: 0px;
	height: 18px;
	width:50px;
	border:1px solid #FFFFFF;
}
.langtxt {
	margin: 0px;
	padding: 0px;
	height: 18px;
	width: 200px;
	border: 1px solid #996633;
}
.areatxt {
	margin: 0px;
	padding: 0px;
	border:1px solid #996633;
}
.btn {
	font-size: 12px;
	color: #996633;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	height: 15px;
	width: 50px;
	border: 1px solid #000000;
}
