body                                           {text-align:center; padding:0px; margin:0px auto; font-size:12px; color:#333333; background-color:#FFFFFF; }
tr, td                                         {text-align:center; padding:0px; margin:0px auto; font-size:12px; color:#666666; text-align:left;}
div                                            {text-align:center; padding:0px; margin:0px auto; font-size:12px; color:#333333; }
ul                                             {padding:0px; margin:0px; list-style-type:none; }
li                                             {display:block;}

dl, dd, dt                                     {margin:0px; padding:0px;}    
img                                            {border:0px;}
.cell_h                                        {width:100%; height:10px; font-size:0px; line-height:0px; clear:both;}
.cell_v                                        {width:10px; height:100%; font-size:0px; line-height:0px; float:left;}

.input_register_form, .input_login_form, .input_pubtitle_form, select, .input        {font-size:12px; border:1px solid #777777; font-family:ו; }

a:link                                         {color:#333333; font-size:13px; text-decoration:none; }  
a:visited                                      {color:#333333; font-size:13px; text-decoration:none; }  
a:active                                       {color:#333333; font-size:13px; text-decoration:none; }  
a:hover                                        {color:#FF0000; font-size:13px; text-decoration:underline; } 

.a1:link                                       {color:#333333; font-size:14px; text-decoration:none; }  
.a1:visited                                    {color:#333333; font-size:14px; text-decoration:none; }  
.a1:active                                     {color:#333333; font-size:14px; text-decoration:none; }  
.a1:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; }  

.a2:link                                       {color:#FFFFFF; font-size:14px; text-decoration:none; }  
.a2:visited                                    {color:#FFFFFF; font-size:14px; text-decoration:none; }  
.a2:active                                     {color:#FFFFFF; font-size:14px; text-decoration:none; }  
.a2:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; }

.a3:link                                       {color:#333333; font-size:13px; text-decoration:none; }  
.a3:visited                                    {color:#333333; font-size:13px; text-decoration:none; }  
.a3:active                                     {color:#333333; font-size:13px; text-decoration:none; }  
.a3:hover                                      {color:#FF0000; font-size:13px; text-decoration:underline; } 

.a4:link                                       {color:#05227D; font-size:13px; text-decoration:underline; }  
.a4:visited                                    {color:#05227D; font-size:13px; text-decoration:underline; }  
.a4:active                                     {color:#05227D; font-size:13px; text-decoration:underline; }  
.a4:hover                                      {color:#FF0000; font-size:13px; text-decoration:none; } 

.a5:link                                        {color:#FF3300; font-size:13px; text-decoration:underline; }  
.a5:visited                                     {color:#FF3300; font-size:13px; text-decoration:underline; }  
.a5:active                                      {color:#FF3300; font-size:13px; text-decoration:underline; }  
.a5:hover                                       {color:#0000FF; font-size:13px; text-decoration:none; } 

.a6:link                                       {color:#FFFFFF; font-size:12px; text-decoration:none; }  
.a6:visited                                    {color:#FFFFFF; font-size:12px; text-decoration:none; }  
.a6:active                                     {color:#FFFFFF; font-size:12px; text-decoration:none; }  
.a6:hover                                      {color:#FF0000; font-size:12px; text-decoration:underline; } 

.a7:link                                       {color:#000060; font-size:12px; text-decoration:none; }  
.a7:visited                                    {color:#000060; font-size:12px; text-decoration:none; }  
.a7:active                                     {color:#000060; font-size:12px; text-decoration:none; }  
.a7:hover                                      {color:#FF0000; font-size:12px; text-decoration:underline; } 

.a8:link                                       {color:#000000; font-size:12px; text-decoration:none; }  
.a8:visited                                    {color:#000000; font-size:12px; text-decoration:none; }  
.a8:active                                     {color:#000000; font-size:12px; text-decoration:none; }  
.a8:hover                                      {color:#FF0000; font-size:12px; text-decoration:underline; }

.a9:link                                       {color:#FF0000; font-size:12px; text-decoration:underline; }  
.a9:visited                                    {color:#FF0000; font-size:12px; text-decoration:underline; }  
.a9:active                                     {color:#FF0000; font-size:12px; text-decoration:underline; }  
.a9:hover                                      {color:#0000FF; font-size:12px; text-decoration:none; }

.a10:link                                       {color:#FEFF00; font-size:13px; text-decoration:none; }  
.a10:visited                                    {color:#FEFF00; font-size:13px; text-decoration:none; }  
.a10:active                                     {color:#FEFF00; font-size:13px; text-decoration:none; }  
.a10:hover                                      {color:#0000FF; font-size:13px; text-decoration:underline; }

.a11:link                                       {color:#05227D; font-size:13px; text-decoration:none; }  
.a11:visited                                    {color:#05227D; font-size:13px; text-decoration:none; }  
.a11:active                                     {color:#05227D; font-size:13px; text-decoration:none; }  
.a11:hover                                      {color:#FF0000; font-size:13px; text-decoration:underline; } 

.a12:link                                        {color:#0000FF; font-size:13px; text-decoration:underline; }  
.a12:visited                                     {color:#0000FF; font-size:13px; text-decoration:underline; }  
.a12:active                                      {color:#0000FF; font-size:13px; text-decoration:underline; }  
.a12:hover                                       {color:#FF3300; font-size:13px; text-decoration:none; } 

.a13:link                                        {color:#188609; font-size:13px; text-decoration:underline; }  
.a13:visited                                     {color:#188609; font-size:13px; text-decoration:underline; }  
.a13:active                                      {color:#188609; font-size:13px; text-decoration:underline; }  
.a13:hover                                       {color:#FF3300; font-size:13px; text-decoration:none; }

.a14:link                                        {color:#006699; font-size:13px; text-decoration:none; }  
.a14:visited                                     {color:#006699; font-size:13px; text-decoration:none; }  
.a14:active                                      {color:#006699; font-size:13px; text-decoration:none; }  
.a14:hover                                       {color:#006699; font-size:13px; text-decoration:underline; }

.a15:link                                       {color:#05227D; font-size:14px; text-decoration:underline; }  
.a15:visited                                    {color:#05227D; font-size:14px; text-decoration:underline; }  
.a15:active                                     {color:#05227D; font-size:14px; text-decoration:underline; }  
.a15:hover                                      {color:#FF0000; font-size:14px; text-decoration:none; }


.a16:link                                       {color:#0034C5; font-size:14px; text-decoration:underline; }  
.a16:visited                                    {color:#0034C5; font-size:14px; text-decoration:underline; }  
.a16:active                                     {color:#0034C5; font-size:14px; text-decoration:underline; }  
.a16:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; }

.a17:link                                       {color:#666666; font-size:13px; text-decoration:underline; }  
.a17:visited                                    {color:#666666; font-size:13px; text-decoration:underline; }  
.a17:active                                     {color:#666666; font-size:13px; text-decoration:underline; }  
.a17:hover                                      {color:#FF0000; font-size:13px; text-decoration:underline; }

.ta0:link                                       {color:#000000; font-size:14px; text-decoration:none; }  
.ta0:visited                                    {color:#000000; font-size:14px; text-decoration:none; }  
.ta0:active                                     {color:#000000; font-size:14px; text-decoration:none; }  
.ta0:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; } 

.ta1:link                                       {color:#0000FF; font-size:14px; text-decoration:none; }  
.ta1:visited                                    {color:#0000FF; font-size:14px; text-decoration:none; }  
.ta1:active                                     {color:#0000FF; font-size:14px; text-decoration:none; }  
.ta1:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; } 

.ta2:link                                       {color:#FF0000; font-size:14px; text-decoration:none; }  
.ta2:visited                                    {color:#FF0000; font-size:14px; text-decoration:none; }  
.ta2:active                                     {color:#FF0000; font-size:14px; text-decoration:none; }  
.ta2:hover                                      {color:#0000FF; font-size:14px; text-decoration:underline; } 

.ta3:link                                       {color:#00FF00; font-size:14px; text-decoration:none; }  
.ta3:visited                                    {color:#00FF00; font-size:14px; text-decoration:none; }  
.ta3:active                                     {color:#00FF00; font-size:14px; text-decoration:none; }  
.ta3:hover                                      {color:#FF0000; font-size:14px; text-decoration:underline; } 

.ab1:link                                       {color:#188609; font-size:15px; text-decoration:underline; }  
.ab1:visited                                    {color:#188609; font-size:15px; text-decoration:underline; }  
.ab1:active                                     {color:#188609; font-size:15px; text-decoration:underline; }  
.ab1:hover                                      {color:#E77900; font-size:15px; text-decoration:none; }

.ab2:link                                       {color:#BD1010; font-size:15px; text-decoration:underline; }  
.ab2:visited                                    {color:#BD1010; font-size:15px; text-decoration:underline; }  
.ab2:active                                     {color:#BD1010; font-size:15px; text-decoration:underline; }  
.ab2:hover                                      {color:#E77900; font-size:15px; text-decoration:none; }


















