<style type="text/css">
<!--
body {
	background-color: #E5E5E5;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	font-family: ÐÂËÎÌå;
	font-size: 12px;
	color: #000000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}
.ziti {font-size: 12px;}

.inputcss {  
    font-size: 9pt; 
    font-family: "ËÎÌå"; 
    font-style: normal; 	
    
}

-->
</style>