/* CSS Document */
.top:link {
	color: #ffffff;
	text-decoration: none;
}
.top:visited {
	text-decoration: none;
	color: #ffffff;
}
.top:hover {
	text-decoration: none;
	color:#FFFFFF;
}
.top:active {
	text-decoration: none;
	color: #CCCCFF;
}
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}